<div id="game-body" class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100 mainmenuOuterContainer">
            <h2><i class="fab fa-wolf-pack-battalion"></i> 狼人杀</h2>
            <!-- Game Information -->
            <div class="col-md-4 mainmenuInnerContainer" id="chatarea">
                <hr>
                <div id="room-info">
                    <h3>Room ID: <%= roomID %></h3>
                </div>
                <div id="player-list">

                </div>
                <input type="hidden" id="roomID" value="<%= roomID %>">
                <input type="hidden" id="player" value="<%= player %>">
            </div>
            <!-- Game Information END -->
            <!-- Game Area -->
            <div class="col-md-6 mainmenuInnerContainer">
                <div id="chatlog">
        
                </div>
                <div class="form-group" id="div-chat-entry">
                    <input class="form-control form-control-lg" type="text" id="chat-input" placeholder="Type your message here.">
                </div>

                <button id="chat-submit" class="btn btn-info btn-lg btn-block">Send Message</button>
            </div>
            <!-- Game Area END -->
    </div>
</div>

<!-- Backup
<h2>狼人杀</h2>
<div id="room-info">
    <h1>Room ID: <%= roomID %></h1>
</div>
<div id="game-body">
    <div id="chatarea">
        <div id="chatlog">
        
        </div>
        <div id="div-chat-entry">
            <input type="text" id="chat-input">
            <button id="chat-submit">Send</button>
        </div>
    </div>
    <div id="player-list">

    </div>
</div>
<input type="hidden" id="roomID" value="<%= roomID %>">
<input type="hidden" id="player" value="<%= player %>">
-->